.list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.5em 2em;
}

.wrapper {
  max-width: 80vw;
  padding: 1em;
  border-radius: 1em;
  background-color: #e9e8d9;
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.75);
}

.text {
  font-size: 1em;
  margin: 1em 0;
}
.date {
  font-size: 1em;
  font-weight: 700;
}
