.movieContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1em 3em;
  margin-right: auto;
  margin-left: auto;
}

.poster {
  width: 50em;
  margin-right: 1em;
  border-radius: 0.8em 0 0 0.8em;
}

.title {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1em;
}

.about {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.text {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.text span {
  font-weight: 400;
}

.vote {
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  background-color: #1f1e1d;
  color: #fff;
}
.vote span {
  font-weight: 400;
}
