.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: linear-gradient(90deg, rgb(28, 3, 67) 0%, rgb(14, 9, 2) 100%);
}

.container {
  max-width: 1280px;
  padding: 8px 25px;
  /* margin-bottom: 20px; */
  margin-left: auto;
  margin-right: auto;
}

.wrapperNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapperNav div {
  display: flex;
}
.list {
  display: flex;
}
.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(243, 238, 238);
  font-size: 20px;
  font-weight: 500;
}
.active {
  composes: link;
  font-weight: 700;
  color: #f8e12a;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 8px 15px;
  }
}
