.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #fff;
  background: linear-gradient(90deg, rgb(28, 3, 67) 0%, rgb(14, 9, 2) 100%);
  box-shadow: 0 3px 5px 0 rgb(0 4 56 / 50%);
  z-index: 9;
}

.developerData {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
}
.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #f8e12a;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.link:hover,
.link:focus {
  transform: scale(1.05);
  color: #28fb07;
}
